{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}
    <div class="profile-page">
        <section class="profile-header">
            <img src='/images/profil.png' alt="Photo de profil"><br>
            <h2>Nom Prénom</h2>
            <span>Étudiant en XXX</span>
            <span>TP X</span>
        </section>

        <div class="container assignments">
            <div class="row">
                <div class=" col published-assignments">
                    <h3>Devoirs Publiés :</h3>
                    <!-- Répétez cette structure pour chaque devoir publié -->
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <button class="button-profil" href="{{ path('app_publier') }}">Publier</button>
                </div>
                <div class=" col ongoing-assignments">
                    <h3>Devoirs en cours :</h3>
                    <!-- Répétez cette structure pour chaque devoir en cours -->
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                </div>
                <div class="col completed-assignments">
                    <h3>Devoirs terminés :</h3>
                    <!-- Répétez cette structure pour chaque devoir terminé -->
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                    <div class="assignment">
                        <span>WR000 - Matière</span><br>
                        <span>Rendu</span>
                        <br>
                        <span>Le jj/mm/aaaa</span><br>
                        <button class="button-profil" href="{{ path('app_modifier') }}">Modifier</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container personal-info">
            <h3>Informations personnelles :</h3>
            <form class="row inscription" action="">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nom<span style="color:red">*</span></label>
                        <input
                                required
                                placeholder="Votre nom de famille"
                                type="text"
                                class="form-control"

                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Prénom<span style="color:red">*</span></label>
                        <input
                                required
                                placeholder="Votre prénom"
                                type="text"
                                class="form-control"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Formation<span style="color:red">*</span></label>
                        <select
                                required
                                class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example"
                        >
                            <option selected>Sélectionnez votre formation</option>
                            <option value="1">BUT informatique</option>
                            <option value="2">BUT MMI</option>
                            <option value="3">BTS</option>
                        </select>

                        <select
                                required
                                class="form-select form-select-sm"
                                aria-label=".form-select-sm example"

                        >
                            <option selected>
                                Année d'étude
                            </option>
                            <option value="1">Première année</option>
                            <option value="2">Deuxième année</option>
                            <option value="3">Troisième année</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select
                                required
                                class="form-select form-select-sm"
                                aria-label=".form-select-sm example"

                        >
                            <option selected>
                                Groupe de TD
                            </option>
                            <option value="1">Groupe A</option>
                            <option value="2">Groupe B</option>
                            <option value="3">Groupe C</option>
                            <option value="3">Groupe D</option>
                            <option value="3">Groupe E</option>
                            <option value="3">Groupe F</option>
                            <option value="3">Groupe G</option>
                            <option value="3">Groupe H</option>
                        </select>
                    </div>
                    <button class="button-profil" type="submit">Enregistrer les modifications</button>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Identifiant<span style="color:red">*</span></label>
                        <input
                                required
                                placeholder="Votre identifiant universitaire"
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email<span style="color:red">*</span></label>

                        <input  required
                                placeholder="Votre email universitaire" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de passe<span style="color:red">*</span></label>
                        <input required
                               type="password"
                               class="form-control"
                               id="exampleInputPassword1"
                        />
                        <div class="form-text">
                            Entre 8 et 16 caractères.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirmation du mot de passe<span style="color:red">*</span></label>
                        <input required
                               type="password"
                               class="form-control"
                               id="exampleInputPassword1"
                        />
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}