{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/agenda.css') }}" />
{% endblock %}

{% block body %}
    <script>
        $("#colour").change(function(event) {
            console.log($(this).val());
            $("#color_front").css('background-color',$(this).val());
        });

        $("#color_front").click(function(event) {
            $("#colour").click();
        });
    </script>
    <h1 class="titre">Agenda</h1>
    <div class="agenda-container">
            <div class="task-details">
                <div class="color-input-wrapper">
                    <input type="color" value="#2ca9ba">
                </div>
                <h3>WR000 - Matière</h3>
                <p>Rendu </p>
                <p>Date de début : jj/mm/aaaa</p>
                <p>Date et heure du rendu : jj/mm/aaaa à 00:00</p>
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: 100%">100%</div>
                </div>
            </div>
            <div class="task-actions">
                <a class="info-button" href="{{ path('app_agenda') }}">En savoir plus</a>
                <button class="menu-button">⋮</button>
            </div>
    </div>
    <div class="agenda-container">
            <div class="task-details">
                <div class="color-input-wrapper">
                    <input type="color" value="#cf94ff">
                </div>
                <h3>WR000 - Matière</h3>
                <p>Rendu </p>
                <p>Date de début : jj/mm/aaaa</p>
                <p>Date et heure du rendu : jj/mm/aaaa à 00:00</p>
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: 80%">80%</div>
                </div>
            </div>
            <div class="task-actions">
                <a class="info-button" href="{{ path('app_agenda') }}">En savoir plus</a>
                <button class="menu-button">⋮</button>
            </div>
    </div>
    <div class="agenda-container">
            <div class="task-details">
                <div class="color-input-wrapper">
                    <input type="color" value="#ff4d4d">
                </div>
                <h3>WR000 - Matière</h3>
                <p>Rendu </p>
                <p>Date de début : jj/mm/aaaa</p>
                <p>Date et heure du rendu : jj/mm/aaaa à 00:00</p>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-warning text-dark" style="width: 45%">45%</div>
                </div>
            </div>
            <div class="task-actions">
                <a class="info-button" href="{{ path('app_agenda') }}">En savoir plus</a>
                <button class="menu-button">⋮</button>
            </div>
    </div>
    <div class="agenda-container">
            <div class="task-details">
                <div class="color-input-wrapper">
                    <input type="color" value="#6a4dff">
                </div>
                <h3>WR000 - Matière</h3>
                <p>Rendu </p>
                <p>Date de début : jj/mm/aaaa</p>
                <p>Date et heure du rendu : jj/mm/aaaa à 00:00</p>
                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-danger" style="width: 10%">10%</div>
                </div>
            </div>
            <div class="task-actions">
                <a class="info-button" href="{{ path('app_agenda') }}">En savoir plus</a>
                <button class="menu-button">⋮</button>
            </div>
    </div>
{% endblock %}
